.container {
   /* margin-top: 120px; */
    display: flex; 
    justify-content: space-between;
    width: 100%;
  }

.input {
    display: flex;
    flex-direction: column;
}

.navigation {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 320px;
}

.navigationItem {  
    display: flex;
    height: 64px;
    color: #8585AD;
}

.navigationItemActive {  
    composes: navigationItem;
    color: #F2F2F3;
}


.navigationCaption {  
    composes: navigationItem;
    text-align: left;
}

.editItem {
    margin-top: 120px;
    flex: 1 1;
}

.buttonDiv {
    width: 480px;
    text-align: end;
}

.ordersContainer {
    flex: 1;
    padding-top: 40px;
    max-height: calc(-105px + 100vh);
}