.input {
    display: flex;
    flex-direction: column;
}

.action {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.textLeft {
    color: #8585AD;
    margin-right: 10px;
}

.textRight {
    color: #4C4CFF;
}

.child {
    width: 480px;
    height: 430px;
    margin-top: 180px; 
    text-align: center; 
  }


  .container {
     display: flex; 
     justify-content: space-between;
   }

   .containerRight {
    margin-top: 40px;
    display: flex; 
    justify-content: center;
    width: 580px;
  }

  .containerColumn {
    width: 272px;
  }

   .doneNumber {
    color: #00CCCC
  }


  .textAlign {
    text-align: left;
  }
.blockFeed {
  max-height: calc(-150px + 100vh);
}

  

