.input {
    display: flex;
    flex-direction: column;
}

.action {
    display: flex;
    flex-direction: row; 
    justify-content: center;

}



.textLeft {
    color: #8585AD;
    margin-right: 10px;
}

.textRight {
    color: #4C4CFF;
}

.child {
    width: 480px;
    height: 430px;
    margin-top: 180px; 
    text-align: center; 
  }
