.modal {
    width:612px;
   
    background-color: #1c1c21;
    border-radius: 40px;
    position: absolute;
    z-index: 999;
    overflow: hidden;
}

.block {
    position: fixed;
    height:100%;
    width:100%;
    align-items : center; 
    display: flex;
    justify-content: center;
    top:0;
    left: 0;
     z-index: 999;
}

.headerModal {
    display: flex;
    width:100%;
    align-items : center;
    justify-content: space-between;
}

p {
    align-items: left;
}