.scroll {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width:612px;
    max-height:450px; 
    min-height:80px; 
    overflow:hidden; 
    overflow-y: scroll; 
    scrollbar-width: thin;
}
