.header {
    display: flex; 
    align-items : center; 
    justify-content: space-between;
}

.lsheader {
    display: flex;
    flex: 1 1;
    align-items : center;
}

.rsheader {
    composes: lsheader;
    justify-content: flex-end;
}

.lsheaderitem {
    display: flex;
}

a {
    text-decoration: none;
    color:rgb(255,255,255)
}