.header {
    display: flex; 
    align-items : center; 
    justify-content: space-between;
}

.lsheader {
    display: flex;
    flex: 1 1;
    align-items : center;
}

.rsheader {
    composes: lsheader;
    justify-content: flex-end;
    color: #8585AD;
}

.rsheaderActive {
    composes: rsheader;
    color: #F2F2F3;
}

.lsheaderitem {
    display: flex;
    color: #8585AD;
}

.lsheaderitemActive {
    composes: lsheaderitem;
    color: #F2F2F3;
}

a {
    text-decoration: none;
    color:rgb(255,255,255)
}