.blockIngredient {
    text-align:center;
    width:268px; 
    flex-direction: column; 
    display: flex; 
    position: relative;
    overflow: 'hidden';
}

.ingredient {
    align-items:center;
    display: flex; 
    justify-content: center;
}